*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    text-decoration: none;
    list-style: none;
    font-family: "Poppins", serif;
}
/* start nav */
a{
    color: #f5f5f5;
}
header{
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    background-color: rgba(45, 55, 66, 0.7);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    z-index: 10;
    
}
header .logo{
    width: 75px;
    height: 75px;
}
header #nav{
    display: flex;
    column-gap: 50px;
    
}
header #nav li{
    color: #f5f5f5;
    font-weight: 600;
}
.show{
    visibility:visible;
     
}
header button{
    padding: 7px 20px;
    background-color: #D6B031;
    color: #f5f5f5;
    border: none;
}

#burger{
    display: none;
}
.hidde{
    display: none;
}
.nav :last-child a{
    display: none;
}
.sticky {
    background-color: #2D394B;
}
@media (max-width:800px){
    header{
        padding: 0 10px;
    }
    a{
        color: #2D394B;
    }
    header ul{
        flex-direction: column;
        position: absolute;
        top:60px;
        right: 30px;
        background-color: rgba(255, 255, 255,0.9);
        padding: 10px ;
        border-radius: 15px;
        visibility:hidden;
    }
    header ul li::after{
        content: "";
        width: 20px;
        height: 3px;
        margin: 2px 0 0 0 ;
        background-color: #D6B031;
        display: block;
    }
    header ul li {
        margin: 2px 0;
    }
    header button{
        display: none;
    }
    #burger{
        position: absolute;
        right: 30px;
        display: block;
        color: #f5f5f5; 
    }
    .nav :last-child a{
        display: block;
    }
}
/* end nav  */

.head{
    width: 100%;
    height: 600px;
    background-image: url(../images/images-Apropos/apropos.png);
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    z-index: 0;
    padding: 5%;
}
.hello{
    text-align: justify;
}
.hello h4{
    font-family: "Work Sans", sans-serif;
    font-size: 55px;
    font-weight: 450;
    color: #2D3742;
}
.hello h2{
    font-family: "Work Sans", sans-serif;
    font-size: 60px;
    font-weight: 800;
    color: #2D3742;
}

.p1{
    text-align: center;
    margin: 50px 8%;
    padding: 0 5%;
}
.p1 h2{
    font-family: "Work Sans", sans-serif;
    font-size: 35px;
    font-weight: 600;
    color: #3C3C3C;
    padding-top: 1%;
}
.p1 p{
    font-family: "Work Sans", sans-serif;
    color: #3C3C3C;
    text-align: justify;
    font-weight: 450;
    font-size: 26px;
    padding-top: 3%;
}
.p1 h4{
    font-family: "Work Sans", sans-serif;
    color: #D6B031;
    font-size: 35px;
    font-weight: 550;
    text-align: start;
    padding: 3% 0;
}
.stick{
    display: inline;
}
.stick img{
    padding: 2% 3%;
}
.stickers ul li{
    font-family: "Work Sans", sans-serif;
    display: inline;
    padding: 10px 40px;
    font-weight:bold;
    font-size: 15px;
}


hr{
    width: 100%;
    margin: 40px 0;
    padding: 35px 0;
    border: 1px;
    background-color: #EDF0FA;
}

.p2{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 12%;
    gap: 100px;
}
.p2 img{
    width: 33%;
}
.Engagement h2{
    font-family: "Work Sans", sans-serif;
    color: #D6B031;
    font-size: 25px;
    font-weight: 600;
    text-align: start;
    padding: 20px 0;
}

.Engagement p{
    font-family: "Work Sans", sans-serif;
    color: #484B50;
    text-align: justify;
    font-weight: 550;
    font-size: 18px;
}

.p3{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 12%;
    gap: 100px;
}
.p3 img{
    width: 33%;
}
.Innovation h2{
    font-family: "Work Sans", sans-serif;
    color: #D6B031;
    font-size: 25px;
    font-weight: 600;
    text-align: start;
    padding: 20px 0;
}
.Innovation p{
    font-family: "Work Sans", sans-serif;
    color: #484B50;
    text-align: justify;
    font-weight: 550;
    font-size: 18px;
}
.p4{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 12%;
    gap: 100px;
}
.p4 img{
    width: 33%;
}
.Confiance h2{
    font-family: "Work Sans", sans-serif;
    color: #D6B031;
    font-size: 25px;
    font-weight: 600;
    text-align: start;
    padding: 20px 0;
}
.Confiance p{
    font-family: "Work Sans", sans-serif;
    color: #484B50;
    text-align: justify;
    font-weight: 550;
    font-size: 18px;
}
.p5{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.p5 h2{
    display: flex;
    justify-content: center;
    font-family: "Work Sans", sans-serif;
    color: #3C3C3C;
    font-size: 25px;
    font-weight: 600;
    text-align: start;
    padding: 20px 0 5px;
}
.p5 p{
    font-family: "Work Sans", sans-serif;
    color: #484B50;
    text-align: justify;
    font-weight: 550;
    font-size: 15px;
    padding: 2% 12%;
    /* margin: 2% 12%; */
}

.slider-1 .slider {
    display: flex;
    animation: slide-1 9s ease-in-out infinite; 
}
.slider-1 {
    width: 80%;
    overflow: hidden;
    position: relative;
}

.slide1 p{
    max-width: 300px;
    margin: 0 0 12px 20px;
    text-align: justify;
    font-size: 16px;
    font-weight: 400;
    padding: 10px 5px 0 0;
}


@keyframes slide-1 {
    0% { transform: translateX(0); }
    25% { transform: translateX(-100%); }
    50% { transform: translateX(-100%); }
    75% { transform: translateX(-200%); }
    100% { transform: translateX(-200%); }
}

.slide1 h2{
    font-family: "Work Sans", sans-serif;
    color: #3C3C3C;
    font-size: 25px;
    font-weight: 600;
    padding: 10px 0;
}
.slide1 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink:0 ;
    width: 100%;
    text-align: center;
    border:8px solid #2D3742;
    border-radius: 0 120px 0 80px;
}
.slide1 img{
    
    padding: 5%;
    width: 300px;
}



.elm-slide{
    font-family: "Work Sans", sans-serif;
    flex-direction: column;
}

.static1 , .static2{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.static1 p{
    align-self: flex-start;
    color: #D6B031;
    font-weight: 200px;
    font-size: xx-large;
    padding: 5% 33%;
}
span{
    color: #D6B031;
}

.static2 p{
    color: #2D3742;
    font-weight:bold;
    font-size: large;
    padding: 0 25%;
}


/* .p6{
    text-align: center;
    margin: 80px 60px;
    gap: 120px;
} */
.p6 h2{
    display: flex;
    justify-content: center;
    font-family: "Work Sans", sans-serif;
    color: #3C3C3C;
    font-size: 25px;
    font-weight: 600;
    text-align: start;
    padding: 20px 0;
}
.p6 p{
    display: flex;
    justify-content: center;
    font-family: "Work Sans", sans-serif;
    color: #484B50;
    text-align: justify;
    font-weight: 550;
    font-size: 18px;
    padding: 30px;
}


.sponsor {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 0 80px;
    margin: 40px 0 0;
}

.Partenaires{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.part1 img , .part2 img , .part3 img{
    padding: 2px 8px 0 2px;
    width: 180px;
    height:250px;
    border-radius: 0 0 40px;
}
.part1,.part2,.part3{
    align-items: center;
    justify-content: center;
    text-align: justify;
    background-color: #2D394B;
    height: 480px;
    width: 300px;
    margin: 15px;
    border: 8px solid #0095D9;
    border-top: 0;
    border-radius: 0 120px 0 80px;
    overflow: hidden;
}
.part2{
    border: 8px solid  #D6B031;
    border-top: 0;
    border-radius: 0 120px 0 80px;
}
.info-part{
    padding: 5px 25px;
    font-family: "Work Sans", sans-serif;
}
.part1 h3, .part2 h3, .part3 h3{
    font-weight: 600;
    font-size: x-large;
    color: #EDF0FA;
}
.part1 h5, .part2 h5, .part3 h5{
    font-family: "Inter", sans-serif;
    font-weight: 600;
    color: #D6B031;
    padding: 2px 0 7px;
}
.part1 p, .part2 p, .part3 p{
    font-weight: 540;
    font-size: 16px;
    color: white;
    padding: 2% 5% 0 0;
}

.sponsor{
    display: flex;
    justify-content: center;
    align-items: center;    
}
.sponsor img{
    display: inline-flex;
    padding: 0 20px;
}



/* footer */
footer{
    background-color: #2D394B;
    margin: 10px 0 0 0 ;
}
.all{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(170px , auto));
    padding:20px 20px;
    color: #f5f5f5;
    justify-content: center;
    /* flex-wrap: wrap ; */
}
.Fdescription img{
    width: 170px;
    margin-bottom: 10px;
}
.Fdescription , .Explore , .Apropos , .social{
    margin:0 40px;
}
.Fdescription p{
    max-width: 200px;
}
.Explore h4 , .Apropos h5 , .social h6{
    font-size: 23px;
    margin-bottom: 10px;
}
.all li{
    padding: 5px 0;
}
.socialLinks img{
    padding: 0 10px 0 0;
    width: 40px;
}
.Explore li , .Apropos li{
    font-weight: 500;
}
.copyright{
    background-color: #EDF0FA;
}
.copyright p{
    color: #2D394B;
    text-align: center;
    padding: 20px 0;
    font-weight: 700;
}
@media (max-width:934px){
   .p2 , .p3 ,.p4{
    flex-direction: column;
   }
   .p2 img , .p3 img , .p4 img{
    width: 80%;
   }
   .slide1{
    margin: 7%;
    flex-direction: column;
   }
   .slide1{
    border-color: #D6B031;
    outline: none;
   }
   .part1 img , .part2 img , .part3 img{
    width: 150px;
    margin-top: 1px;
   }
   .part1 , .part2 , .part3{
    width: 300px;
   }
   .info-part p{
    font-size: 13px;
    text-align: left;
    line-height: 1.3;
   }
   .part2 h5{
    text-align: left;
   }
   .elm-slide{
    display: none;
   }
}


@media (max-width:928px) {
    .head{
        height: 330px;
    }
    .hello h4 {
        font-size: 27px;
    }
    .hello h2 {
        font-size: 30px;
    }
    .p1 h2{
        font-size: 24px;
    }
    .p1 p{
        font-size: 16px;
    }
    .p1 h4{
        font-size: 22px;
    }
    .all{
        flex-direction: column;
    }
    .slider-1 .slider {
        width: 80%;
        animation: none;
        margin: 0 auto ;
    }
    .slide1{
        width: 500px;
    }
    
    .futureBank img{
        width: 90%;
        height: 250px;
    }
    .futureBank h2{
        font-size: 18px;
        font-weight: 800;
    }
    .description p{
        font-weight: 700;
        padding: 0 15px 15px 0;
    }
    .deleted{
        display: none;
    }
    .Fdescription , .Explore , .Apropos , .social{
        margin: 1px 10px ;
    }
    .Fdescription img{
        width: 130px;
    }
    .social h6 , .Explore h4, .Apropos h5{
        font-size: 18px;
    }
    .social {
        margin-top: 10px;
    }
    .c2 .Apropos{
        margin-right: 60px;
    }
    .social img {
        width: 30px;
        padding: 0 5px 0;
    }
    .socialLinks svg{
       width: 20px;
       height: 20px;
    }
    .Fdescription , .Explore , .Apropos , .social{
        margin:0 20px;
    }
}


@media (max-width:480px) {
    .head{
        height: 250px;
    }
    .hello h4 {
        font-size: 20px;
    }
    .hello h2 {
        font-size: 30px;
        font-weight: 700;
    }
    .p1 h2{
        font-size: 16px;
    }
    .p1 p{
        font-size: 14px;
    }
    .p1 h4{
        font-size: 18px;
    }
    .slide1{
        margin: 0;
        width: 300px;
    }
    .slider-1 .slider {
        width: 80%;
        animation: none;
        margin: 0 auto ;
    }
    
    .deleted{
        display: none;
    }
    .stick img{
        height:60px ;
    }
    .stickers ul{
        display: flex;
    }
    .stickers li{
        justify-content: space-around;
        align-items: center;        
    }
    .stickers ul li{
        padding: 5px 12px
    }
    .Partenaires .part1{
        height:420px ;
    }
    .Partenaires .part2{
        height:420px ;
    }
    .Partenaires .part3{
        height:420px ;
    }
    .Partenaires img{
        height: 220px;
    }
    .p2 , .p3 , .p4 {
        gap: 20px;
    }
    .p2 img , .p3 img , .p4 img {
        width: 100%;
    }
    .futureBank img{
        width: 90%;
        height: 250px;
    }
    .futureBank h2{
        font-size: 18px;
        font-weight: 800;
    }
    .description p{
        font-weight: 700;
        padding: 0 15px 15px 0;
    }
    .all{
        flex-direction: column;
    }
    .Fdescription , .Explore , .Apropos , .social{
        margin: 1px 10px ;
    }
    .Fdescription img{
        width: 130px;
    }
    .social h6 , .Explore h4, .Apropos h5{
        font-size: 18px;
    }
    .social {
        margin-top: 10px;
    }
    .c2 .Apropos{
        margin-right: 60px;
    }
    .social img {
        width: 30px;
        padding: 0 5px 0;
    }
    .socialLinks svg{
       width: 20px;
       height: 20px;
    }
    .Fdescription , .Explore , .Apropos , .social{
        margin:0 20px;
    }
}